<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="icon" href="favicon.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" , initial-scale=1.0>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./styles.css">
  <title>Registration</title>
</head>

<body>
  <!-- navigation bar -->
  <div class="tnav">
    <img class="mainlogo" src="logo.png" alt="logo">
    <div id="Links">
      <a href="/">Home 🏠</a>
      <a href="roomlisting">Room Listing</a>
      <a href="login" class="active">Login</a>
      <a href="registration">Sign up</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    </a>
  </div>
  <div class="intro">
    <div>
      <img class="intro_ph" src="images/apartment.jpg">
      <p class="ad"> Apartment in Toronto for $49/night</p>
    </div>
    <h1 class="introtext">Looking for a place to stay?<br>Find out our best variants<br> across Canada.</h1>
  </div>

  <body>
    <div id="container1">
      <div class="wrap_form">
        <h2>Sign In</h2>
        <p>to manage your bookings</p>
        <span style="color:red; font-weight:bold; font-size: 20px">
          {{#if wrongLog}}
          <p>Sorry, you entered the wrong username and/or password</p>
          {{/if}}
        </span>
        <form action="/log" method="POST">
          <div class="group_form">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="group_form">
            <label for="password1">Password</label>
            <input type="password" name="password1" id="password1" />
          </div>
          <button type="submit" class="btn">Login</button>
        </form>
      </div>
      <footer>
      </footer>
    </div>
  </body>

  <!-- footer with info -->
  <footer class="foot">
    <div>
      <a href="https://www.twitter.com/" class="fa fa-twitter"></a>
      <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
      <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    </div>
    <p> Zhanibek Sagyndyk - 2020<br>
      &copy; Book-a-Place</p>
  </footer>
</body>

</html>

<style>
  a {
    text-decoration: none;
  }

  body {
    background: #383838;
  }



  #container1 {
    max-width: 640px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: #a86814;
  }

  #container1 a {
    color: #c18349;
  }

  .wrap_form {
    background: url('out.png');
    border-radius: 5px;
  }

  .wrap_form h2,
  .wrap_form p {
    text-align: center;
    font-family: Roboto;
  }

  .wrap_form h1 {
    padding-top: 20px;
  }

  .wrap_form p {
    padding-top: 15px;
  }

  .wrap_form .group_form {
    font-family: Roboto;
    padding-left: 160px;
  }

  .wrap_form .group_form label {
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .wrap_form .group_form input {
    width: 300px;
    padding: 12px;
    border: rgb(179, 179, 179) 1px solid;
    border-radius: 10px;
  }

  .wrap_form button {
    display: inline-block;
    background-color: #c18d49;
    font-size: 16px;
    border-radius: 3px 3px 20px 20px;
    color: whitesmoke;
    border: white 1px solid;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 157px;
    height: 40px;
    width: 300px;
  }

  .wrap_form button:hover {
    background-color: #a05837;
  }

  .wrap_form .bottom_text {
    font-size: 11px;
    font-family: Roboto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .wrap_form .bottom_text a {
    color: #a86814;
  }
</style>